<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="godot-4.6" value="C:\Program Files\Godot\Godot_v4.6.3-stable_mono_win64\GodotSharp\Tools\nupkgs" />
    <add key="LocalNuget" value="C:\Users\Ricky\Documents\LocalNuget" />
    <add key="Godot.FSharp" value="C:\Users\Ricky\source\repos\Godot.FSharp\GodotFunc\addons\Godot.FSharp" />
  </packageSources>
</configuration>
